
        RewriteEngine On

        RewriteBase /

        #Добавили принудительно слеш в конце запроса
        RewriteCond %{REQUEST_URI} !(.*)/$
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d


        RewriteCond %{REQUEST_URI} !\?
        RewriteCond %{REQUEST_URI} !\&
        RewriteCond %{REQUEST_URI} !\=
        RewriteCond %{REQUEST_URI} !\.
        RewriteCond %{REQUEST_URI} !\/$

        RewriteRule ^(.*[^/])$ $1/ [L,R=301]
        RewriteRule ^(.*)\.(gif|jpg|png|jpeg|webp|css|js|zip|rar)$i [L,NC]


        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d

        RewriteRule ^(.*) index.php?/$1/ [L,QSA,NC]